@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>


<h1>Weather forecast</h1>


@code {
   // private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

}