@model IList<CodeJam.ViewModels.TeamView>

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Simplified</title>
    <script src="https://kit.fontawesome.com/09b9c96735.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/androidstudio.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
        .avatar {
            font-size: 16px;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            background: black;
            display: inline-flex;
            align-items: center;
            justify-content: center;       
            vertical-align: middle;     
        }

        .avatar::after{
            content: attr(data-label);
            font-family: "Readex Pro", sans-serif;
            color: black;
        }
    </style>
  </head>
  <body class="bg-secondary text-white">
    <div class="container-fluid">
        <div class="row">

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-5">
                    <div class="row mx-auto justify-content-evenly">    
                        
                        @foreach (var team in Model)
                        {
                            <div class="col-4 mb-3">
                                <div class="card bg-dark text-white">
                                    <div class="card-body">
                                        <h4 class="card-title">@team.TeamName</h4>
                                        @foreach (var member in team.Members)
                                        {
                                            <div class="mb-3">
                                                <span>
                                                    @if (!string.IsNullOrEmpty(member.Value))
                                                    {
                                                        <img class="avatar" src="@member.Value"/>
                                                    }
                                                    else
                                                    {
                                                        <i class="avatar fab fa-discord"></i>
                                                    }
                                                    @member.Key
                                                </span>
                                            </div>    
                                        }
                                    </div>
                                
                                    @if (team.Submission is not null)
                                    {
                                        <div class="card-footer">
                                            <a href="@team.Submission.GithubRepo" class="card-link fs-5"><i class="fa-brands fa-github"></i><span>&nbsp;Submission</span></a>
                                        </div>    
                                    }
                                </div>
                            </div>    
                        }
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>